!spec/rails7_stub/Gemfile.lock
*.sqlite3-*
.bundle
.idea
.rspec_status
.ruby-version
Gemfile.lock
build.log
coverage*
doc
integration/**/*.iml
lib/warbler_jar.jar
log
nbproject
out/
pkg
target/
vendor/
*.war
warbler-*.gem
warbler.iml
warbler.ipr
warbler.iws
