coverage*
pkg
doc
.bundle
nbproject
**/target/*
!**/target/.keep
Gemfile.lock
.idea
warbler.iml
warbler.iws
warbler.ipr
warbler-*.gem
log
integration/**/*.iml
build.log
.ruby-version
.rspec_status
*.sqlite3-*
