name: CI

on:
  push:
    branches:
      - master
      - '*-dev'
      - '*-feature'
      - '*-fix'

  pull_request:

env:
  JRUBY_OPTS: -J-Xmx896M

jobs:
  ci:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        java-version: [8, 21]
        ruby-version: [jruby-9.4, jruby-10]
        task: ['', integration]
        exclude:
          # JRuby 10 requires Java 21 minimum
          - ruby-version: jruby-10
            java-version: 8

      fail-fast: false

    env:
      # speed up all those subprocesses
      JRUBY_OPTS: --dev

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Set up java ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Set up ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}

      - name: Remove jruby-launcher # not sure where this is coming from but causes some specs to fail
        run: gem uninstall -a jruby-launcher

      - name: Install dependencies
        run: bundle install

      - name: Run tests
        run: bundle exec rake ${{ matrix.task }}
